<!DOCTYPE html>
<html>
<head>
  <title>Orphaned Pets</title>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='./css/style.css'/>
</head>
<body>
  <div id="react-node">
  </div>
  <script src='./bower_components/jquery/dist/jquery.js'></script>
  <script src='./bower_components/bootstrap/dist/js/bootstrap.js'></script>
  <script src="./dist/bundle.js" charset="utf-8"></script>
</body>
</html>
